# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\付广庆\PAT_Practice\1011\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
